@model IEnumerable<BaldurBillsApp.Models.Prepayment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrepaymentRegistryNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrepaymentAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrepaymentCurrency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrepaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemainingAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrepaymentEntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrepaymentRegistryNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrepaymentAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrepaymentCurrency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrepaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemainingAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSettled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrepaymentEntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.VendorId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrepaymentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrepaymentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrepaymentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
