@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <a href="@Url.Action("Index", "InvoicesList")">InvoicesList</a>
        <a href="@Url.Action("Index", "Prepayments")">Prepayments</a>
        <a href="@Url.Action("Index", "CostTypes")">CostTypes</a>
        <a href="@Url.Action("Index", "ToPlnRates")">Currency Rates</a>
        <a href="@Url.Action("Index", "Vendors")">Vendors</a>
    </p>
</div>
