@model BaldurBillsApp.Models.ToPlnRate

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ToPlnRate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RateCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RateCurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RateValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RateValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RateId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
