@model IEnumerable<BaldurBillsApp.Models.ToPlnRate>

@{
    ViewData["Title"] = "Index";
}

@* Formularz do zmiany daty *@

@{
    DateOnly selectedDate = ViewBag.SelectedDate ?? DateOnly.FromDateTime(DateTime.Today);
}

<form method="get" action="@Url.Action("Index", "ToPlnRates")">
    <input type="date" name="date" value="@selectedDate.ToString("yyyy-MM-dd")"  />
    <button type="submit">Change date</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RateCurrency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RateValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbpTableName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RateCurrency)
                </td>
                <td>
                    @string.Format("{0:N4}", item.RateValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbpTableName)
                </td>
            </tr>
        }
    </tbody>
</table>
