@model BaldurBillsApp.Models.InvoicesList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InvoicesList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistryNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistryNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate.RateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendor.VendorId)
        </dd>
    </dl>
    @if (Model.Attachments.Any())
    {
        <div>
            @foreach (var attachment in Model.Attachments)
            {
                var path = attachment.FilePath;
                // Przekształcanie ścieżki systemowej na ścieżkę względną
                var relativePath = path.Replace(@"C:\Users\majew\source\repos\BaldurBillsApp\BaldurBillsApp\wwwroot", "");
                // Dekodowanie URL, jeśli potrzebne
                var urlPath = Url.Content("~" + relativePath.Replace("\\", "/"));
                <img src="@urlPath" alt="Invoice Image" style="max-width: 600px; height: 600px;">
            }
        </div>
    }
    else
    {
        <p>No images available.</p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InvoiceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
